<div class="ui column model-column" style="display: block;">
  <%= link_to model_path(model) do %>
      <div class="ui image">
        <div class="ui dimmer model-dimmer">
          <div class="content">
            <div class="center">
              <p class="model-name"><%= model.name.upcase %></p>
            </div>
          </div>
        </div>
        <%= image_tag model.photos.find_by_position(0).file.url if model.photos.find_by_position(0) %>
      </div>
  <% end %>
</div>

