<div class="ui container stackable grid">
  <div class="row" style="padding: 1rem;">
    <%= "#{params[:sex].capitalize if params[:sex]} / #{params[:category].capitalize if params[:category]}" %>
  </div>
  <div class="row">
    <div class="ui three column doubling stackable masonry grid">
      <% @models.each do |model| %>
        <%= render partial: 'model_card', locals: {model: model} %>
      <% end %>
    </div>
  </div>
</div>

