<div class="model-slider">
  <div class="single-slide first-slide model-info-wrapper">
    <div class="model-info">
      <p class="model-info-item"><%= params[:photo_type].upcase %></p>
      <p class="model-info-item"><span><%= @model.name if @model.name %></span></p>
      <div class="ui divider"></div>
      <p class="model-info-item"><span>HEIGHT</span> <%= @model.height if @model.height %> </p>
      <p class="model-info-item"><span>CHEST</span> <%= @model.chest if @model.chest %> </p>
      <p class="model-info-item"><span>WAIST</span> <%= @model.waist if @model.waist %> </p>
      <p class="model-info-item"><span>HIP</span> <%= @model.hip if @model.hip %> </p>
      <p class="model-info-item"><span>JEANS</span> <%= @model.jeans if @model.jeans %> </p>
      <p class="model-info-item"><span>SHOE</span> <%= @model.shoe if @model.shoe %> </p>
      <p class="model-info-item"><span>HAIR</span> <%= @model.hair if @model.hair %> </p>
      <p class="model-info-item"><span>EYES</span> <%= @model.eyes if @model.eyes %> </p>
      <div class="ui hidden divider"></div>

      <p class="model-info-item">
        <%= link_to "+INSTAGRAM", @model.instagram_url, target: :_blank if @model.instagram %>
      </p>
      <% case params[:photo_type] %>
      <% when 'polaroids' %>
          <p class="model-info-item">
            <%= link_to "+BOOK", model_path(@model) %>
          </p>
          <p class="model-info-item">
            <span>-POLAROIDS</span>
          </p>

      <% else %>
          <p class="model-info-item">
            <span>-BOOK</span>
          </p>
          <p class="model-info-item">
            <%= link_to "+POLAROIDS", model_polaroids_path(@model) %>
          </p>
      <% end %>
      <p class="model-info-item">
        <%= link_to "+VIDEO", @model.video, class: 'popup-youtube' if @model.video %>
      </p>
      <p class="model-info-item">
        <%= link_to "+DOWNLOAD COMP CARD", @model.comp_card.url if @model.comp_card.url %>
      </p>
      <p class="model-info-item">
        <%= link_to "+DOWNLOAD PDF", @model.pdf.url if @model.pdf.url %>
      </p>
      <div class="ui hidden divider"></div>
      <%= image_tag 'universe_icon_logo.png', class: 'ui mini image' %>
    </div>
  </div>
  <% @photos.sort_by { |p| p.position }.each do |photo| %>
      <% if photo.orientation == 'horizontal' %>
          <div></div>
          <div class="single-slide">
            <%= image_tag photo.file.url %>
          </div>
      <% else %>
          <div class="single-slide">
            <%= image_tag photo.file.url %>
          </div>
      <% end %>
  <% end %>
  <div class="single-slide last-slide model-info-wrapper">
    <div class="model-info" style="text-align: center">
      <%= link_to "BACK TO MODELS", models_index_path(sex: @model.sex.name, category: @model.category.name), style: 'color: black;' %>
    </div>
  </div>
</div>

<i class="ui large left chevron icon" id="prevSlide"></i>
<i class="ui large right chevron icon" id="nextSlide"></i>
<%= link_to models_index_path(sex: @model.sex.name, category: @model.category.name), id: 'closeModel' do %>
    <i class="ui large close icon"></i>
<% end %>

<div class="ui mobile only tablet only stackable one column grid">
  <div class="column">
    <div class="ui divider"></div>
    <div class="model-info">
      <p class="model-info-item"><%= params[:photo_type].upcase %></p>
      <p class="model-info-item"><span><%= @model.name if @model.name %></span></p>
      <div class="ui divider"></div>
      <p class="model-info-item"><span>HEIGHT</span> <%= @model.height if @model.height %> </p>
      <p class="model-info-item"><span>CHEST</span> <%= @model.chest if @model.chest %> </p>
      <p class="model-info-item"><span>WAIST</span> <%= @model.waist if @model.waist %> </p>
      <p class="model-info-item"><span>HIP</span> <%= @model.hip if @model.hip %> </p>
      <p class="model-info-item"><span>JEANS</span> <%= @model.jeans if @model.jeans %> </p>
      <p class="model-info-item"><span>SHOE</span> <%= @model.shoe if @model.shoe %> </p>
      <p class="model-info-item"><span>HAIR</span> <%= @model.hair if @model.hair %> </p>
      <p class="model-info-item"><span>EYES</span> <%= @model.eyes if @model.eyes %> </p>
      <div class="ui hidden divider"></div>

      <p class="model-info-item">
        <%= link_to "+INSTAGRAM", @model.instagram_url, target: :_blank if @model.instagram %>
      </p>
      <% case params[:photo_type] %>
      <% when 'polaroids' %>
          <p class="model-info-item">
            <%= link_to "+BOOK", model_path(@model) %>
          </p>
          <p class="model-info-item">
            <span>-POLAROIDS</span>
          </p>

      <% else %>
          <p class="model-info-item">
            <span>-BOOK</span>
          </p>
          <p class="model-info-item">
            <%= link_to "+POLAROIDS", model_polaroids_path(@model) %>
          </p>
      <% end %>
      <p class="model-info-item">
        <%= link_to "+VIDEO", @model.video, class: 'popup-youtube' if @model.video %>
      </p>
      <p class="model-info-item">
        <%= link_to "+DOWNLOAD COMP CARD", @model.comp_card.url if @model.comp_card.url %>
      </p>
      <p class="model-info-item">
        <%= link_to "+DOWNLOAD PDF", @model.pdf.url if @model.pdf.url %>
      </p>
      <div class="ui hidden divider"></div>
      <%= image_tag 'universe_icon_logo.png', class: 'ui mini image' %>
    </div>
    <div class="ui divider"></div>
  </div>
  <% @photos.sort_by { |p| p.position }.each do |photo| %>
          <div class="column">
            <%= image_tag photo.file.url, class: 'ui image' %>
            <div class="ui divider"></div>
          </div>
  <% end %>
  <div class="column">
    <div class="model-info" style="text-align: center">
      <%= link_to "BACK TO MODELS", models_index_path(sex: @model.sex.name, category: @model.category.name), style: 'color: black; font-weight: bold;' %>
    </div>
    <div class="ui divider"></div>
  </div>
</div>
