<div class="ui container">
  <div class="ui centered horizontal list" style="display: block; text-align: center; margin: 40px auto;">
    <div class="item">
      <%= image_tag 'universe_icon_logo.png', class: 'ui mini image' unless @no_footer %>
    </div>
    <div class="item">© 2017, UNIVERSE MANAGEMENT</div>
  </div>
</div>
