<div class="ui container">
  <div class="ui stackable one column grid">
    <div class="computer only column">
      <div class="ui text menu" id="header-menu">
        <div class="item">
          <%= image_tag 'logo_negro.png', class: 'ui medium image logo' %>
        </div>
        <%= link_to "HOME", root_path, class: 'item' %>
        <div class="ui dropdown item">
          BOYS
          <div class="menu">
            <%= link_to "MAINBOARD", models_path(sex: 'boys', category: 'mainboard'), class: 'item' %>
            <%= link_to "DEVELOPMENT", models_path(sex: 'boys', category: 'development'), class: 'item' %>
          </div>
        </div>
        <div class="ui dropdown item">
          GIRLS
          <div class="menu">
            <%= link_to "MAINBOARD", models_path(sex: 'girls', category: 'mainboard'), class: 'item' %>
            <%= link_to "DEVELOPMENT", models_path(sex: 'girls', category: 'development'), class: 'item' %>
          </div>
        </div>
        <%= link_to "VISION", vision_path, class: 'item' %>
        <%= link_to "PARADISE", paradise_path, class: 'item' %>
        <%= link_to "BLOG", blog_url, class: 'item' %>
        <%= link_to "CONTACT", contact_path, class: 'item' %>
        <%= link_to "INSTAGRAM", instagram_url, class: 'item', target: :_blank %>
        <%= link_to "FACEBOOK", facebook_url, class: 'item', target: :_blank %>
      </div>
    </div>
    <div class="mobile only tablet only row center aligned">
      <div class="ui text vertical menu" id="header-menu-small">
        <div class="item">
          <%= image_tag 'logo_negro.png', class: 'ui medium image logo' %>
        </div>
        <%= link_to "HOME", root_path, class: 'item' %>
        <div class="ui dropdown item">
          BOYS
          <div class="menu">
            <%= link_to "MAINBOARD", models_path(sex: 'boys', category: 'mainboard'), class: 'item' %>
            <%= link_to "DEVELOPMENT", models_path(sex: 'boys', category: 'development'), class: 'item' %>
          </div>
        </div>
        <div class="ui dropdown item">
          GIRLS
          <div class="menu">
            <%= link_to "MAINBOARD", models_path(sex: 'girls', category: 'mainboard'), class: 'item' %>
            <%= link_to "DEVELOPMENT", models_path(sex: 'girls', category: 'development'), class: 'item' %>
          </div>
        </div>
        <%= link_to "VISION", vision_path, class: 'item' %>
        <%= link_to "PARADISE", paradise_path, class: 'item' %>
        <%= link_to "BLOG", blog_url, class: 'item' %>
        <%= link_to "CONTACT", contact_path, class: 'item' %>
        <%= link_to "INSTAGRAM", instagram_url, class: 'item', target: :_blank %>
        <%= link_to "FACEBOOK", facebook_url, class: 'item', target: :_blank %>
      </div>
    </div>
  </div>
</div>