<div class="ui container stackable grid">
  <div class="sixteen wide center aligned column">
    <%= image_tag 'universe_icon_logo.png', class: 'ui small centered image' %>
    <div class="ui list">
      <div class="item">
        <i class="envelope icon"></i>
        agency@universemanagement.net
      </div>
    </div>
  </div>
</div>








