<style>
  body {
    background: url("<%= image_url 'fondo_full_2.jpg' %>") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
  }

  #middle-cell {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-align: center;
  }

  #middle-block {
    margin: auto;
    background-color: rgba(0,0,0, 0) !important;
  }

  #middle-menu {
    color: white;
    justify-content: center;
    margin-top: 0 !important;
  }
  .ui.text.menu .item {
    color: rgba(255, 255, 255, 0.81);
  }

  .ui.link.menu .item:hover, .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {
    color: white;
  }
  .ui.menu .ui.dropdown .menu > .item {
    color: rgba(255, 255, 255, 0.81) !important;
    text-align: center;
  }
  .ui.menu .ui.dropdown .menu > .item:hover {
    color: white !important;
  }
  .ui.menu .dropdown.item .menu {
    background: rgba(0,0,0, 1) !important;
    left: -35px;
  }
</style>

<div id="middle-cell">
  <div class="ui black inverted compact segment" id="middle-block">
    <%= image_tag 'logo_blanco.png', class: 'ui centered medium image' %>
    <div class="ui centered text inverted menu" id="middle-menu">
      <%= link_to "HOME", home_path, class: 'item' %>
      <div class="ui dropdown item">
        BOYS
        <div class="menu">
          <%= link_to "MAINBOARD", models_path(sex: 'boy', category: 'mainboard'), class: 'item' %>
          <%= link_to "DEVELOPMENT", models_path(sex: 'boy', category: 'development'), class: 'item' %>
        </div>
      </div>
      <div class="ui dropdown item">
        GIRLS
        <div class="menu">
          <%= link_to "MAINBOARD", models_path(sex: 'girl', category: 'mainboard'), class: 'item' %>
          <%= link_to "DEVELOPMENT", models_path(sex: 'girl', category: 'development'), class: 'item' %>
        </div>
      </div>
      <%= link_to "VISION", vision_path, class: 'item' %>
      <div class="item">
        CONTACT
      </div>
    </div>
  </div>
</div>