<div class="ui container">
  <ul id="home-slider">
    <% @slider.slider_photos.each do |photo| %>
        <li class="home-slide">
          <%= image_tag photo.file.url(:full) %>
        </li>
    <% end %>
  </ul>
</div>