#header-menu {
  justify-content: space-around;
  .logo {
    width: 215px;
  }

  .ui.menu .dropdown.item .menu {
    left: -30px !important;
    margin-top: none !important;
  }

  .ui.dropdown .menu {
    border: none !important;
    box-shadow: none !important;
    left: -35px !important;

    .item {
      text-align: center;
    }
  }
}

#header-menu-small {
  margin: auto !important;
  text-align: center;
  .ui.dropdown.item {
    text-align: center;
  }
  .ui.dropdown .menu {
    border: none !important;
    box-shadow: none !important;
    left: 130px !important;

    .item {
      text-align: center;
    }
  }
}

.ui.menu .ui.dropdown .menu > .item:hover {
  background: none !important;
}