.model-slider {
  height: 100%;
}
.single-slide {
  visibility: hidden;
  height: 100%;
  img {
    height: 100%;
  }
}
.single-slide.slick-active {
  visibility: visible !important;
}

#prevSlide {
  position: absolute;
  top: 50%;
  left: 20px;
  cursor: pointer;
}

#nextSlide {
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
}

#closeModel {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
}

.model-info-wrapper {
  display: flex !important;
  vertical-align: middle;
  align-content: center;
  justify-content: center;
  width: 450px;
}

.model-info {
  width: 225px;
  margin: auto;
  text-transform: uppercase;
}

.model-info-item {
  color: #9e9e9e;
  margin: 0;
  line-height: 20px;
  span {
    color: black;
  }
  a {
    color: black;
  }
}

@media (max-width: 900px) {
  .model-slider, #nextSlide, #prevSlide, #closeModel {
    display: none !important;
  }
}