//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
//= require activeadmin-dropzone
//= require semantic_ui/semantic_ui

// Active Admin's got SASS!
@import "flattened_active_admin/mixins";
@import "flattened_active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }



#active_admin_content #sidebar {
  width: 100%;
  margin-left: inherit;

  .filter_form {
    display: flex;
    flex-wrap: wrap;

    .filter_form_field {
      width: 33%;
    }

    .select.input {
      .select2-container {
        width: 80% !important;
      }
    }
  }
}

#active_admin_content #main_content_wrapper #main_content {
  margin-right: 0;
}

form.filter_form .filter_form_field.select_and_search input[type=text] {
  width: 55%;
}


.dz-preview {
  p {
    display: none;
  }
  .dropzone-caption {
    display: none;
  }
  .dz-filename {
    display: none;
  }
}

.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
  position: relative;
  height:auto;
}

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
  height:auto;
  width: auto;
}

table.index_table td, table.index_table th {
  vertical-align: middle;
  text-align: center;
}

#main-inputs, #attributes-inputs {
  width: 48%;
  margin: 10px;
  float: left;
}