<div id="dropzone_<%= method %>_<%= cycle(*(1..999).to_a, name: method) %>" class="dropzone">
  <span class="notice"><%=t 'dropzone.drag_or_click' %></span>
  <% object.send(method).each_with_index do |dropzone_object, index| %>
    <%= hidden_field_tag "#{ object_name }[#{ method }_attributes][#{ index }][id]", dropzone_object.id %>
  <% end %>
</div>

<% unless options[:hint].blank? %>
  <p class="inline-hints dropzone-hint"><%= options[:hint] %></p>
<% end %>

<script>
  (function() {
    Dropzone.autoDiscover = false;

    var mockFiles = <%= render_mock_dropzone_files(object.send(method)) %>;
    var mockFilesCount = mockFiles.length;
    var fileIndex = 0;
    var dropzone_id = "#dropzone_<%= method %>_<%= current_cycle(method) %>";
    var dropzone = new Dropzone(dropzone_id, {
      url: '<%= raw upload_dropzone_path(container_id: (object.new_record? ? nil : object.id), container_type: object.class, dropzone_class: object.send(method).klass.to_s) %>',
      addRemoveLinks: true,
      dictCancelUpload: '<%=t "dropzone.cancel" %>',
      dictRemoveFile: '<%=t "dropzone.remove" %>',
      maxFiles: <%= defined?(max_files) ? '1' : 'null' %>,
      sending: function(file, xhr, formData) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').prop('content'));
      },
      success: function(file, data) {
        file.id = data.id;
        $(dropzone_id).append('<input type="hidden" name="<%= object_name %>[<%= method %>_attributes][' + $(file.previewElement).attr('data-index') + '][id]" value="' + file.id + '" />');
        $(file.previewElement).attr('data-id', data.id);
        $(file.previewElement).attr('data-url', data.url);
        return file.previewElement.classList.add("dz-success");
      },
      removedfile: function(file) {
        $(file.previewElement).remove();
        $(dropzone_id).sortable('refresh');
        $.ajax({
          url: '<%= raw destroy_dropzone_path(container_id: (object.new_record? ? nil : object.id), container_type: object.class, dropzone_class: object.send(method).klass.to_s) %>' + '&id=' + file.id,
          type: 'DELETE',
          success: function(data) {
            $(dropzone_id).find('input[value="' + file.id + '"]').remove();
            if (data.result != 'ok') {
              alert('Ошибка удаления фото. Пожалуйста, перезагрузите форму.');
            }
          }
        });
      }
    });

    $(dropzone_id).sortable({
      items: '.dz-preview',
      placeholder: 'sortable-placeholder',
      scroll: false
    });

    var func = function(file) {
      var id = file.id || '';
      var filename = file.name || '';
      var title = file.title || filename;
      var index = file.index || fileIndex++;
      var type = file.type || undefined;
      var img = file.previewElement.children[0].children[2];

      if( (type && !/image/.test(type)) || !/\.(jpe?g|png|gif)/i.test(img.src) ) {
        img.src = ''; // не показываем битый img
        img.alt = ''; // не показываем лишнюю подпись дял битого img
      }

      file._captionLabel = Dropzone.createElement('<p>Название:</p>');
      file._captionBox = Dropzone.createElement('<input id="album_photos_' + id + '_title" class="dropzone-caption" type="text" name="<%= object_name %>[<%= method %>_attributes][' + index + '][title]" value="' + title + '" />');
      file.previewElement.appendChild(file._captionLabel);
      file.previewElement.appendChild(file._captionBox);

      $(file.previewElement).attr('data-id', id);
      $(file.previewElement).attr('data-index', index);
    };

    var generate_dropzone_position_elements = function() {
      var position = 0;
      $(dropzone_id + ' .dz-preview').each(function() {
        var index = $(this).attr('data-index');
        var id = $(this).attr('data-id');
        $(dropzone_id).prepend('<input type="hidden" name="<%= object_name %>[<%= object.send(method).klass.model_name.element %>_ids][]" value="' + id + '"/>');
        $(dropzone_id).append('<input type="hidden" name="<%= object_name %>[<%= method %>_attributes][' + index + '][<%= object.send(method).klass.send("dropzone_field", :position) %>]" value="' + (position++) + '" />');
      });
    };

    dropzone.on('addedfile', func);

    for (var i = 0; i < mockFiles.length; i++) {
      var mockFile = mockFiles[i];
      dropzone.options.addedfile.call(dropzone, mockFile);
      if (mockFile.url) {
        dropzone.options.thumbnail.call(dropzone, mockFile, mockFile.url);
        $(mockFile.previewElement).attr('data-url', mockFile.url);
      }
      func(mockFile);
    }

    $('form').submit(function(e) {
      if (dropzone.getQueuedFiles().length > 0 || dropzone.getUploadingFiles().length > 0) {
        if (confirm("<%=t 'dropzone.are_you_sure' %>")) {
          generate_dropzone_position_elements();
        } else {
          e.preventDefault();
        }
      } else {
        generate_dropzone_position_elements();
      }
    });

    window.<%= method %>_dropzone = dropzone;
  })();
</script>
