<!DOCTYPE html>
<html>
<head>
  <title>Universe Management</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render partial: 'shared/header' %>

<%= yield %>

<%= render partial: 'shared/footer' %>

</body>
</html>
